/*
color palette:
Antique brass(lmedium light brown): CB997E
Desert brown: DDBEA9
Eggplant: 594157
Ash gray: B7B7A4
Artichoke: A5A58D
Ebony: 6B705C
*/

.nav-bar {
    background-color: #CB997E;
    overflow: hidden;
    display: flex;
}

.nav-title {
    font-weight: bolder;
    font-size: 25px;
}

.nav-bar a {
    float: left;
    text-align: center;
    text-decoration: none;
    gap: 10px;
    color: black;
    padding: 14px 16px;
}

p {
    margin-left: 15px;
}